/*****************************************************************************
  dallas project
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';


// target / content = result
// 72px / 20px = 3.6em


/*****************************************************************************
  Base Styles
******************************************************************************/

html,body{font-size:20px; line-height:1.35;}

@media screen and (min-width:840px){
	.news{
	float:left;
	width:50%;
	}
}

@media screen and (min-width: 1280px){
		.news{
	float:left;
	width:25%;
	}

}


/*****************************************************************************
  Layout Styles
******************************************************************************/
.container{
@include clearfix;
max-width: 1600px;
margin:0 auto;	
}


.news{	
	padding:1em;
	background-color:tomato;
	& > h1{font-size:3.6em;}
}



/*****************************************************************************
  Module Styles
******************************************************************************/




